---
layout: base
templateEngineOverride: njk,md
---

<h1>{{ name }} </h1>

{{ intro }}

<h2>A New Perspective</h2>

{{ perspective | md | safe }}

<h2>In Practice</h2>

{{ inPractice | md | safe }}

##  Frequently Asked Questions

{% for item in faq %}
    <h3>{{item.question}}</h3>

    {{ item.answer | md | safe }}
{% endfor %}

## Concrete Organisational Cases 

{% for case in cases %}
    <h3>{{ case.data.name }}</h3>
    <div>
        {{ case.content | md | safe }}
    </div>
    <div>
        <a href="{{ case.url }}">Get to know how this organisation manages other teal practices</a>
    </div>
{% endfor %}

## Related Topics 

<ul>
    {% for topic in topics %}
        <li><a href="{{ this.url }}">{{ data.name }}</a></li>
    {% endfor %}
</ul>