---
layout: base
templateEngineOverride: njk,md
---

<h1 class="c-title c-title--page">{{ name }}
</h1>

<div class="c-richtext">

{{ intro | safe }}

</div>



{% if perspective %}

<h2 class="c-title c-title--section">Une nouvelle perspective</h2>

<div class="c-richtext">

{{ perspective | safe }}

</div>

{% endif %}

{% if inPractice %}

<h2 class="c-title c-title--section">En pratique</h2>

<div class="c-richtext">

{{ inPractice | safe }}

</div>

{% endif %}

{% if faq.length > 0 %}

<h2 class="c-title c-title--section" id="faq">Foire Aux Questions</h2>

{% for item in faq %}
<div class="c-collapsible">
    <h3 class="c-collapsible__title" data-component="toggler">
        <button class="c-collapsible__button u-font-label">
            {{item.question}}
            <svg class="c-toggler__icon c-collapsible__icon" focusable="false">
                <use xlink:href="#chevron-down"/>
            </svg>
        </button>
    </h3>
    <div class="c-toggler__target c-collapsible__content c-richtext">


{{ item.answer | safe }}


    </div>
</div>

{% endfor %}

{% endif %}

{% if cases.length > 0 %}

<h2 class="c-title c-title--section">Cas concrets d'organisations</h2>

{% for case in cases %}
    <div class="c-collapsible">
        <h3 class="c-collapsible__title" data-component="toggler">
            <button class="c-collapsible__button">
                <span>
                    <span>{{ case.case.data.name }}</span>
                    <ul class="c-caseattributes c-caseattributes--inline u-font-label-small">
                        <li class="c-caseattributes__item">
                            <svg class="c-caseicon c-caseattributes_icon" focusable="false">
                                <use xlink:href="#lightning"/>
                            </svg>
                            {{ case.case.data.industry }}
                        </li>
                        <li class="c-caseattributes__item">
                            <svg class="c-caseicon c-caseattributes_icon" focusable="false">
                                <use xlink:href="#globe"/>
                            </svg>
                            {{ case.case.data.geography }}
                        </li>
                        <li class="c-caseattributes__item">
                            <svg class="c-caseicon c-caseattributes_icon" focusable="false">
                                <use xlink:href="#box"/>
                            </svg>
                            {{ case.case.data.companySize }}
                        </li>
                        <li class="c-caseattributes__item">
                            <svg class="c-caseicon c-caseattributes_icon" focusable="false">
                                <use xlink:href="#moneyBag"/>
                            </svg>
                            {{ case.case.data.profit }}
                        </li>
                    </ul>
                </span>
                <svg class="c-toggler__icon c-collapsible__icon" focusable="false">
                    <use xlink:href="#chevron-down"/>
                </svg>
            </button>
        </h3>
        <div class="c-toggler__target c-collapsible__content c-richtext">

{{ case.title }}

{{ case.content | safe }}


            <div>
                <a href="{{ case.case.url }}">Découvrir comment cette organisation met en oeuvre d'autres pratiques Opale</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endif %}

{% if topics.length > 0 %}

<h2 class="c-title c-title--section" id="relatedTopics">Sujets connexes</h2>

<ul class="c-topiclist">
    {% for topic in topics %}
        <li class="c-topiclist__item">
            <a href="{{ topic.url }}" class="c-topiclist__link">{{ topic.data.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endif %}

<h2 class="c-title c-title--section">Notes et references
</h2>
