<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reinventing Organizations Wiki</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#fafafa">

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
    {{{ content }}}
</body>

</html>