<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reinventing Organizations Wiki</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" type="text/css" href="/_dist_/main.css" media="screen"/>
  <link rel="stylesheet" href="https://use.typekit.net/ubl6nlt.css" media="print" onload="this.media='all'">
</head>

<body>

    <main class="l-main">
      {{ content | safe }}
    </main>

    <script type="module" src="/_dist_/main.js"></script>
</body>
</html>