---
layout: base
templateEngineOverride: njk,md
---

<h1 class="c-title c-title--page">{{ name }}</h1>

<div class="c-richtext">

    {{ introduction | safe }}

</div>

<ul class="c-caseattributes">
    <li class="c-caseattributes__item">
        <svg class="c-caseicon c-caseattributes_icon" focusable="false">
            <use xlink:href="#lightning"/>
        </svg>
        {{ industry }}
    </li>
    <li class="c-caseattributes__item">
        <svg class="c-caseicon c-caseattributes_icon" focusable="false">
            <use xlink:href="#globe"/>
        </svg>
        {{ geography }}
    </li>
    <li class="c-caseattributes__item">

        <svg class="c-caseicon c-caseattributes_icon" focusable="false">
            <use xlink:href="#box"/>
        </svg>
        {{ companySize }}
    </li>
    <li class="c-caseattributes__item">

        <svg class="c-caseicon c-caseattributes_icon" focusable="false">
            <use xlink:href="#moneyBag"/>
        </svg>
        {{ profit }}
    </li>
</ul>

<h2 class="c-title c-title--section">Teal Practices</h2>

{% for item in theory %}
    <div class="c-collapsible">
        <h3 class="c-collapsible__title" data-component="toggler">
            <button class="c-collapsible__button">
                <div>
                    <div class="u-font-label" style="margin-bottom: 4px">{{ item.topic }}</div>
                    <div>{{ item.title }}</div>
                </div>
                <svg class="c-toggler__icon c-collapsible__icon" focusable="false">
                    <use xlink:href="#chevron-down"/>
                </svg>
            </button>
        </h3>
        <div class="c-toggler__target c-collapsible__content c-richtext">

            {{ item.content | safe }}

        </div>
    </div>
{% endfor %}

<h2 class="c-title c-title--section">Notes and references</h2>
