---
layout: base
pagination:
  data: collections.cases
  size: 6
  alias: cases
  reverse: true
---


<div class="l-home">
    <div class="l-home__intro">
        <div class="l-home__tagline">  
            {{ tagline }}
        </div>

        <h1 class="l-home__title c-title--page">
            {{ title }}
        </h1>


        <div class="l-home__intro">  
            {{ intro }}
        </div>

        <a href="/cases" class="l-home__cta">
            Discover Teal Organizations
        </a>
    </div>

    <h2 class="c-title--section">
        Are you new to this topic?
    </h2>
    <ul class="l-home__topics">
        {% for topic in topics %}
            <li class="l-home__topic">
                <a href="{{ topic.url }}" class="l-home__topiclink">
                    <img class="l-home__image" src="{{ topic.image }}" alt="" />
                    {{ topic.title }}
                </a>
            </li>
        {% endfor %}
    </ul>


        <h2 class="c-title--section" style="margin-bottom: 0">
            New and updated organizations
        </h2>
        <a href="/cases">See all organizations</a>
        
        <ul class="l-home__cases">
            {% for case in cases %}
                <li class="l-home__case">
                    <a href="{{ case.url }}" class="l-home__caselink">
                        <span class="l-home__casename">{{ case.data.name }}</span>
                        {{ case.date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) }}
                    </a>
                </li>
            {% endfor %}
        </ul>

</div>
 