:root {
    --ror-navigation-width: 21rem;
    --ror-navigation-headline-vertical-padding: 30px;
    --ror-navigation-headline-horizontal-padding: 24px;
}

.c-navigation {
    width: var(--ror-navigation-width);
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 4px solid white;
    /* Create an own stack-container, so that z-index management is local to navigation */
    position: relative;
    z-index: 0;
}

.c-navigationSpacer {
    width: var(--ror-navigation-width);
}

.c-navigation__headline {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--ror-navigation-headline-vertical-padding) var(--ror-navigation-headline-horizontal-padding);
    border-bottom: 4px solid white;
}

.c-navigation__site_title {
    display: flex;
    align-items: center;
    font: var(--ror-font-headline-small);
    color: var(--ror-color-text);
    text-decoration: none;
    flex: 1;
}

.c-navigation__logo {
    border-radius: 50%;
    margin-right: 18px;
}

.c-navigation__site-title-text {
    max-width: 20ch;
    flex: 1;
}

.c-navigation__burger {
    display:  none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    -webkit-appearance: none;
}

.c-navigation__main_navigation {
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 79.99em) {
    :root {
        --ror-navigation-headline-vertical-padding: 10px;
        --ror-navigation-headline-horizontal-padding: 24px;
    }

    .c-navigation__burger {
        display: block;
    }

    .c-navigation {
        position: static;
        border-right: none;
        width: 100vw;
    }

    .c-navigation.is-open .c-navigation__headline {
        position: sticky;
        background-color: var(--ror-color-background);
        top: 0;
        z-index: 1;
    }

    .c-navigation__main_navigation {
        position: static;
        display: none;
        border-bottom: 4px white solid;
    }
}