
[data-component="toggler"] ~ .c-toggler__target {
    display: none;
}

[data-component="toggler"].is-open ~ .c-toggler__target {
    display: block;
}

.c-toggler__icon {
    transition: transform 0.25s ease-in-out;
}

[data-component="toggler"].is-open .c-toggler__icon {
    transform: rotate(180deg);
}
