.c-topiclist {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: var(--ror-wide-element-margin);
    margin-left: var(--ror-wide-element-margin);
}

.c-topiclist__item {
    width: calc(50% - 6px);
    margin-bottom: 12px;
    list-style: none;
    background: white;
}


.c-topiclist__link {
    display: block;
    text-decoration: none;
    padding: 22px 30px;
    color: var(--ror-color-text);
    font: var(--ror-font-text-highlighted);
}


@media (max-width: 47.9375em) {
    .c-topiclist {
        margin-right: 0;
        margin-left: 0;
    }
    .c-topiclist__item {
        flex-basis: 100%;
    }
}