<svg class="c-icons_definition">
    <defs>
        <symbol id="chevron-down" viewbox="0 0 18 11">
            <path d="M1 2L9 10L17 2" stroke="currentColor" fill="none" stroke-width="2"/>
        </symbol>

        <symbol id="chevron-down-small" viewbox="0 0 12 8">
            <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" fill="none"/>
        </symbol>

        <!-- etc -->

    </defs>
</svg>
