<nav aria-label="{{ 'mainNavigation' | translate }}" class="c-navigation" data-component="navigation">
  <div class="c-navigation__headline">
    <button class="c-navigation__burger" data-component="navigationBurger">
      <svg class="c-navigation__burger_icon" width="22" height="16" viewbox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"  focusable="false">
        <rect class="c-navigation__burger_top_line" width="22" height="2" rx="1" fill="#393C3C"/>
        <rect class="c-navigation__burger_middle_line" x="8" y="7" width="14" height="2" rx="1" fill="#393C3C"/>
        <rect class="c-navigation__burger_bottom_line" x="3" y="14" width="19" height="2" rx="1" fill="#393C3C"/>
      </svg>

      <span class="visuallyhidden">{{ 'openMenu' | translate }}</span>
    </button>

    <a href="/" class="c-navigation__site_title">
      <img class="c-navigation__logo" src="/images/logo.png" alt=""/>

      <span class="c-navigation__site-title-text">
        {{ 'siteTitle' | translate }}
      </span>
    </a>
  </div>
  <div class="c-navigation__main_navigation" data-component='mainNavigation'>
    <ul>
      <li class="c-navigation__level1">
        <button class="c-navigation__level1_toggler c-navigation__level1_link {% isCategoryOpen collections.practicesNavigation, category %}" data-component="toggler">
          {{ 'practicesArticles' | translate }}
          <svg class="c-toggler__icon c-navigation__toggle_icon"  focusable="false">
            <use xlink:href="#chevron-down"/>
          </svg>
        </button>
        <ul class="c-toggler__target">
          {% for navigationCategory in collections.practicesNavigation %}
            <li class="c-navigation__level2">
              <button class="c-navigation__level2_toggler {{ 'is-open' if navigationCategory.data.key == category}}"
                      data-component="toggler">
                {{ navigationCategory.data.name }}
                <svg class="c-toggler__icon c-navigation__toggle_icon c-navigation__toggle_icon_small"  focusable="false">
                  <use xlink:href="#chevron-down-small"/>
                </svg>
              </button>
              <ul class="c-toggler__target">
                {% for article in navigationCategory.articles %}
                  <li class="c-navigation__level3 {{ 'is-active' if article.url in page.url }}">
                    <a href="{{ article.url }}" class="c-navigation__level3_link">{{ article.data.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="c-navigation__level1">
        <button class="c-navigation__level1_toggler c-navigation__level1_link {% isCategoryOpen collections.backgroundNavigation, category %}" data-component="toggler">
          {{ 'backgroundArticles' | translate }}
          <svg class="c-toggler__icon c-navigation__toggle_icon"  focusable="false">
            <use xlink:href="#chevron-down"/>
          </svg>
        </button>
        <ul class="c-toggler__target">
          {% for navigationCategory in collections.backgroundNavigation %}
            <li class="c-navigation__level2">
              <button class="c-navigation__level2_toggler {{ 'is-open' if navigationCategory.data.key == category}}"
                      data-component="toggler">
                {{ navigationCategory.data.name }}
                <svg class="c-toggler__icon c-navigation__toggle_icon c-navigation__toggle_icon_small"  focusable="false">
                  <use xlink:href="#chevron-down-small"/>
                </svg>
              </button>
              <ul class="c-toggler__target">
                {% for article in navigationCategory.articles %}
                  <li class="c-navigation__level3 {{ 'is-active' if article.url in page.url }}">
                    <a href="{{ article.url }}" class="c-navigation__level3_link">{{ article.data.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="c-navigation__level1 {{ 'is-active' if '/cases' in page.url }}">
        <a href="/cases" class="c-navigation__level1_link">{{ 'cases' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="c-navigationSpacer"></div>