
body {
    --ror-maiola-font-stack: Maiola, serif;
    --ror-scala-font-stack: ff-scala-sans-pro, sans-serif;
    --ror-font-headline-huge: 400 3.75rem/4.125rem var(--ror-maiola-font-stack);
    --ror-font-headline-huge-letter-spacing: -0.0125rem;
    --ror-font-headline-large: 500 3rem/3.375rem var(--ror-maiola-font-stack);
    --ror-font-headline-medium: 500 2.25rem/2.625rem var(--ror-maiola-font-stack);
    --ror-font-headline-small: 700 1.5rem/1.875rem var(--ror-maiola-font-stack);

    --ror-font-text: 400 1.3125rem/1.75rem var(--ror-scala-font-stack);
    --ror-font-text-highlighted: 700 1.3125rem/1.75rem var(--ror-scala-font-stack);

    --ror-font-quote: 400 1.4375rem/1.8125rem var(--ror-maiola-font-stack);
    --ror-font-quotee: 500 1.5rem/1.875rem var(--ror-maiola-font-stack);
    --ror-font-lists: italic 400 1.3125rem/1.75rem var(--ror-scala -font-stack);
    --ror-font-overview-dropdown-title: 400 1.3125rem/1.75rem var(--ror-scala-font-stack);
    --ror-font-label: 400 1.125rem/1.5625rem var(--ror-scala-font-stack);
    --ror-font-label-small: 400 0.9375rem/1.1875rem var(--ror-scala-font-stack);
    --ror-font-notes-references: italic 400 1.125rem/1.5625rem var(--ror-scala-font-stack);

    --ror-font-left-navigation1: 400 1.875rem/2.25rem var(--ror-maiola-font-stack);
    --ror-font-left-navigation2: 500 1.1875rem/1.1875 rem var(--ror-maiola-font-stack);
    --ror-font-left-navigation3: 400 1.125rem/1.375 rem var(--ror-scala-font-stack);
}

@media (min-width: 47.9375em) {
    body {
        background-color: blue;
        color: red;
    }
}