@import "framework/typography.css";
@import "framework/colors.css";
@import "components/navigation.css";
@import "components/title.css";
@import "components/richtext.css";
@import "components/toggler.css";
@import "components/collapsible.css";
@import "components/topiclist.css";
@import "components/footnotes.css";
@import "components/caselist.css";
@import "components/caseattributes.css";

body {
  --ror-space-base: 16px;
  --ror-space-big-1: 20px;
  --ror-space-big-2: 24px;

  margin: 0;
  padding: 0;
  background-color: var(--ror-color-background);
  color: var(--ror-color-text);
  font: var(--ror-font-text);
}

.visuallyhidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: var(--ror-color-teal);
}

.u-font-label {
  font: var(--ror-font-label);
}

.u-font-label-small {
  font: var(--ror-font-label-small);
}

.c-icons_definition {
  display: none;
}

:root {
  --ror-main-width: 41.25rem;
  --ror-main-margin: auto;
  --ror-wide-element-margin: -2.4375rem;
}

.l-maincontainer {
  flex-grow: 1;
  /* We need this, else in IE11 our width on l-main won't be recongnised. */
  display: flex;
  flex-direction: column;
}

.l-main {
  width: var(--ror-main-width);
  margin: 0 var(--ror-main-margin);
}

.l-page {
  display: flex;
}

@media (max-width: 79.99em) {
  .l-page {
      flex-direction: column;
  }
}

@media (max-width: 47.99em) {
  :root {
    --ror-main-width: auto;
    --ror-main-margin: 1.5rem;
    --ror-wide-element-margin: calc(-1 * var(--ror-main-margin));
  }
}

.l-home__tagline {
  font: var(--ror-font-headline-small);
}

.l-home {
  margin-left: var(--ror-wide-element-margin);
  margin-right: var(--ror-wide-element-margin);
  padding-top: 120px;
}

.l-home__title {
  margin-top: 28px;
}

.l-home__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.l-home__cta {
  padding: 14px 34px;
  background-color: var(--ror-color-teal);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
}

.l-home__topics {
  display: flex;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.l-home__topic {
  list-style: none;
  background-color: white;
  flex-basis: 212px;
  flex-grow: 1;
  flex-shrink: 0;
}

.l-home__topic ~ .l-home__topic {
  margin-left: 12px;
}

.l-home__topiclink {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  font: var(--ror-font-text-highlighted);
  color: var(--ror-color-text);
  text-decoration: none;
  box-sizing: border-box;
}

.l-home__image {
  width: 100%;
}


.l-home__cases {
  display: flex;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  margin-left: -6px;
  margin-right: -6px;
  flex-wrap: wrap;
  margin-top: 20px; 
}

.l-home__case {
  list-style: none;
  background-color: white;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.l-home__caselink {
  color: var(--ror-color-text);
  text-decoration: none;
  padding: 22px 30px;
  display: block;
}

.l-home__casename {
  font: var(--ror-font-text-highlighted);
  display: block;
}

@media (max-width: 79.99em) {
  .l-home {
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
  }
}

@media (max-width: 31.25em) {
  .l-home__cta {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
}


.l-footer {
  border-top: solid white 4px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 1.5rem;
  box-sizing: border-box;
}

.l-footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.l-footer__linkitem {
  list-style: none;
}

.l-footer__linkitem + .l-footer__linkitem::before {
  padding: 0 6px;
  content: '·';
}

.l-footer__link {
  font: var(--ror-font-label);
  color: var(--ror-color-text);
  text-decoration: none;
}

.l-peerdom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.l-peerdom__label {
  font: var(--ror-font-label-small);
  margin-bottom: 8px;
}